<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:macro name="state_plugin"
    params="namespace linkName ">
    <gazebo>
      <plugin filename="libstate_plugin.so" name="state_plugin">
        <linkName>${parent_link}</linkName>
        <namespace>${namespace}</namespace>

      </plugin>
    </gazebo>
  </xacro:macro>


</robot>
